@media screen and (max-width:1000px){
    .navbar{
        position: relative;
    }
    .menu{
        display: none;
    }

    .logo{
        margin: 0;
        text-align: center;
    }

    .header{
        padding-top: 50px;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card{
        width: 100%;
    }
    
    .butom{
        padding-top: 40px;
        text-align: center;
        margin-top: 50%;
        margin-left: 40%;
        margin-right: 40%;
    }

    .butom:hover{
        padding-top: 40px;
        text-align: center;
        margin-top: 50%;
        margin-left: 40%;
        margin-right: 40%;
        color: black;
    }
    
}